<h1>Lib Frontend</h1>
<h2>Navbar</h2>
<lib-navbar></lib-navbar>
<h2>Carousel</h2>
<lib-carousel></lib-carousel>
<h2>Buttons</h2>
<lib-button></lib-button>
<h2>Alert</h2>
<lib-alert></lib-alert>
<h2>Breadcrumb</h2>
<lib-breadcrumb></lib-breadcrumb>
<h2>Loader</h2>
<lib-loader></lib-loader>
<h2>Stars</h2>
<lib-stars></lib-stars>
<h2>Notes</h2>
<lib-notes></lib-notes>
<h2>Accordion</h2>
<lib-accordion></lib-accordion>
<h2>Search</h2>
<lib-search></lib-search>
<h2>Table</h2>
<lib-table></lib-table>
